* {
  box-sizing: border-box;
}

body {
  font-size: 120%;
}

svg {
  display: block;
}

#motion__segment {
  position: relative;
}

.motion__frame-number {
  position: absolute;
  top: -4px;
  left: 7px;
  font-size: 50%;
}
